* {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    height: 150px;
    background-color: beige;
}


.main {
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gameBoard {
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}